.drawerContainer {
  background: red;
  display: flex;
  flex-direction: column;
  width: 50%;
  transition: 0.3s ease;
  position: absolute;
  height: 100vh;
  z-index: 3;
}

.drawerItem {
  background: yellow;
}