.homeContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
}

.menuButton {
  padding: 9px;
  transition: opacity 0.3s;
}

.menuButton:hover {
  opacity: 0.7;
}

.main {
  height: 100%;
  width: 100vw;
}