.homeContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  transition: background 0.3s;
}

.menuButton {
  padding: 9px;
  transition: opacity 0.3s;
}

.menuButton:hover {
  opacity: 0.7;
}

.gitHubButton {
  margin-left: auto;
  padding: 9px;
}

.main {
  height: 100%;
  width: 100vw;
  transition: background 0.3s;
}