.homeContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  transition: background 0.3s;
  background: white;
}

.logoWrapper {
  display: none;
}

.header nav {
  display: none;
}

.menuButton {
  padding: 9px;
  transition: opacity 0.3s;
}

.menuButton:hover {
  opacity: 0.7;
}

.gitHubButton {
  margin-left: auto;
  padding: 9px;
}

.main {
  height: 100%;
  width: 100vw;
  transition: background 0.3s;
}

@media (min-width: 800px) {
  .header {
    box-shadow: 0 -10px 10px black;
  }

  .header > h2 {
    display: none;
  }

  .logoWrapper {
    display: flex;
    height: 56px;
    margin-left: 15px;
  }
  
  .logoWrapper img {
    width: 120px;
    margin: auto auto 13px auto;
  }

  .header nav {
    display: flex;
    margin-left: 15px;
    width: 100%;
  }

  .header nav button {
    display: flex;
    align-items: center;
    transition: opacity 0.3s;
    cursor: pointer;
    margin-left: 25px;
    padding: 5px 10px 5px 5px;
    border-radius: 8px;
  }

  .header nav button:hover {
    opacity: 0.7;
  }

  .header nav button svg {
    margin-right: 5px;
  }

  .header nav button:last-child {
    margin-left: auto;
  }

  .menuButton {
    display: none;
  }
}